.ContactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 24px;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #fff;

  .ContactFormWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;

    label {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      letter-spacing:.5px;
      padding: 6px;
      color: #6b6b6b;
      cursor: pointer;
      input {
        position: absolute;
        height: 20px;
        width: 20%;
        left: 120px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: .3s width ease;
        &:focus{
          width: 30%;
          border-bottom: .5px solid #888;
        }
      }
    }
  }

  button {
    margin-top: auto;
    width: 15%;
    display: flex;
    padding: 4px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #6b6b6b;
    opacity: .5;
    z-index: 100;
    transition: all .3s linear;

    &:hover {
      opacity: 1;
      color: rgb(65, 172, 51);
    }
  }
}


.petal1 {
  position: absolute;
  height: 400px;
  width: 400px;
  overflow: hidden;
  top: -120px;
  left: 280px;
  transform: rotate(135deg);
  opacity: .8;
}

.petal2 {
  position: absolute;
  height: 450px;
  width: 450px;
  overflow: hidden;
  top: 480px;
  left: 45px;
  transform: rotate(-80deg);
  z-index: 10;
  opacity: .8;
}

.btnWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .decline {
    &:hover{
      color: #a32525;
    }
  }
}

